$body-background: #EEE;
$text-on-color: #FFF;
$banner-color:#3587A4;
$button-color:#BA1740;
$table-header: #88CCF1;
$table-cell:#f4f7f8;
$lj: #425E80;
$font-table: 'Lato', sans-serif;


body {
  background: $body-background;
  margin: 0;
  padding: 0;
}

/* Navigation */

.banner {
  box-sizing: border-box;
  font-family: $font-table;
  font-size: 30px;
  color: $text-on-color;
  background-color: $banner-color;
  overflow: auto;
  padding: 20px 50px;
  position: relative;
  top: 0;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}


.active {
  color: #88CCF1;
}

/* Table */

table, form {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;

    label {
      font-family: $font-table;
    }
}

thead th {
  background: $table-header;
  color: $text-on-color;
  font-family: $font-table;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 20px;
}

tr {
  background: $table-cell;
  border-bottom: 1px solid $text-on-color;
  margin-bottom: 5px;
}

th, td {
  font-family: $font-table;
  font-weight: 400;
  font-size: 16px;
  height: 30px;
  padding: 10px;
  text-align: left;
  width: 33.3333%;

}

.deleteH {
  font-size: 16px;
  text-align: left;
  width: 17%;
}

.deleteB {
  font-size: 20px;
  text-align: center;
  width: 17%;
}



button {
  padding: 0em, 2em;
  margin-top: 2em;
  width: 15em;
  border: 1px solid $button-color;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

.add-user {
  margin-left: 10%;
}



.edit {
  text-align: center;
  font-size: 20px;
}

button:hover {
  background: $button-color;
  color: $table-cell;
}

h4 {
  padding-left: 7%;
}

.LJ {
  color:$lj;
  font-family: $font-table
}

